* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('HALAMAN LOGIN.jpg');
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
    
}

/* Navbar */
.navbar {
    background-color: #f3ecec;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
    height: 90vh;
}

/* Login Box */
.login-box {
    background: transparent;
    width: 350px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 25px;
    font-size: 28px;

    }

/* Input Group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    outline: none;
    color: black;
}

.input-group i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #1f6fe6;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.login-box {
    background: transparent;
    color: white;
}

.btn.login {
    background-color: #1d6dee;
    color: white;
}

.btn:hover {
    background-color: black;
}

/* Signup */
.signup-text {
    margin-top: 12px;
    font-size: 13px;
    color: white;
}

.signup-text a {
    color: white;
    text-decoration: underline;
}
